<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>메모 작성 페이지</title>
        <style>
            form > label {
                display: inline-block;
                width : 120px;
            }
        </style>
    </head>
    <body>
        <h1>메모 양식</h1>
        <form action="/mymemo/create/" method="POST" id="memoCreateForm">
            {% csrf_token %}

            <label for ="memo">메모 내용</label>
            <input type = "text" id="memo" name="memoContent" size="100" placeholder="내용을 작성하세요" autocomplete="off">
        </form>
        <div>
            <button type="submit" form="memoCreateForm">등록하기</button>
        </div>
        <div class = "list-section">
            <h2>글 리스트</h2>
            {% if lists %}
                <ul>
                    {% for usermemo in lists %}
                    <li>
                        <b> {{ usermemo.id }} </b> 
                        {{ usermemo.text }}
                        <small style="color:deeppink; font-weight: bold">{{ usermemo.published_date | date:"y-m-d"}}</small>
                        &nbsp; &nbsp;
                        [<a href='./edit/{{usermemo.id}}'>수정</a>]
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> 아직 등록된 메모가 없습니다. </p>
            {% endif %}
        </div>
    </body>
</html>
