<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>메모 작성 페이지</title>
        <style>
            form > label {
                display: inline-block;
                width : 120px;
            }
        </style>
    </head>
    <body>
        <h1>메모 양식</h1>
        <form action="http://localhost:8000/mymemo/create/" method="POST" id="memoCreateForm">
            
            <label for ="memo">메모 내용</label>
            <input type = "text" id="memo" name="memoContent" size="100" placeholder="내용을 작성하세요" autocomplete="off">
        </form>
        <div>
            <button type="submit" form="memoCreateForm">등록하기</button>
        </div>
    </body>
</html>
